# Inferring Product Lifecycles and Seasonality

### What can we infer about the high-level Seasonality of an eCommerce retailer given a year of transaction-level data?
### What

In [ ]:
import pandas as pd
import numpy as np
import re
import datetime
##https://www.kaggle.com/vijayuv/onlineretail?select=OnlineRetail.csv

In [102]:
ttl = pd.read_csv('/Users/APinkerton/NYC_DS_A/projects/proj_1/OnlineRetail.csv',encoding= 'unicode_escape')
ttl.columns
ttl.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [103]:
np.unique(ttl['InvoiceDate'])

array(['1/10/2011 10:04', '1/10/2011 10:07', '1/10/2011 10:08', ...,
       '9/9/2011 9:13', '9/9/2011 9:38', '9/9/2011 9:52'], dtype=object)

In [104]:
date = ttl.InvoiceDate.str.split(" ",expand=True)
full = pd.merge(ttl, date, left_index=True, right_index=True)
full.drop(columns=['InvoiceDate',1],inplace=True)
full.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,0
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,12/1/2010
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,12/1/2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,12/1/2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,12/1/2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,12/1/2010

In [268]:
full['sls$']=full['Quantity']*full['UnitPrice']
full['ret'] = full['Quantity'] < 0
full.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,0,sls$,mo,day,year,ret
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01,15.30,12,1,2010,False
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010,False
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01,22.00,12,1,2010,False
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010,False
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010,False

In [165]:
full[0]=pd.to_datetime(full[0])
full['mo']=full[0].dt.month
full['day']=full[0].dt.day
full['year']=full[0].dt.year
full.columns
full.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,0,sls$,mo,day,year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01,15.30,12,1,2010
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01,22.00,12,1,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010

In [310]:
dates = pd.read_csv('/Users/APinkerton/NYC_DS_A/projects/proj_1/days.csv')
dates['date']=pd.to_datetime(dates['date'])
dates.rename(columns={'Unnamed: 2':'woy'},inplace=True)

In [311]:
new = pd.merge(full,dates,left_on=0,right_on='date')
new.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,0,sls$,mo,day,year,ret,date,Wk,woy
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01,15.30,12,1,2010,False,2010-12-01,DEC Wk 1,48
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010,False,2010-12-01,DEC Wk 1,48
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01,22.00,12,1,2010,False,2010-12-01,DEC Wk 1,48
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010,False,2010-12-01,DEC Wk 1,48
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010,False,2010-12-01,DEC Wk 1,48

In [312]:
new['454_mo'] = new['Wk'].astype(str).str[0:3]
new.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,0,sls$,mo,day,year,ret,date,Wk,woy,454_mo
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01,15.30,12,1,2010,False,2010-12-01,DEC Wk 1,48,DEC
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010,False,2010-12-01,DEC Wk 1,48,DEC
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01,22.00,12,1,2010,False,2010-12-01,DEC Wk 1,48,DEC
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010,False,2010-12-01,DEC Wk 1,48,DEC
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01,20.34,12,1,2010,False,2010-12-01,DEC Wk 1,48,DEC

In [387]:
new.groupby(['StockCode','Description'])[['woy']].agg('min')

new.groupby(['StockCode','Description', 'Wk']).agg('sum').head()
week_ttl = new.groupby(['Wk'])[['Quantity','sls$']].agg('sum')

cal_month_ttl = new.groupby(['mo'])[['Quantity','sls$']].agg('sum').copy()
cal_month_ttl['AUR']=cal_month_ttl['sls$']/cal_month_ttl['Quantity']
ttlsls = cal_month_ttl['sls$'].sum()
ttlquan = cal_month_ttl['Quantity'].sum()
monthly_ttls = (ttlsls,ttlquan)
cal_month_ttl['% to Sls'] = cal_month_ttl['sls$'] / ttlsls
cal_month_ttl['% to Quan'] = cal_month_ttl['Quantity'] / ttlquan
cal_month_ttl['build']=round(cal_month_ttl['sls$']/cal_month_ttl['sls$'].shift(1,axis=0),2)
cal_month_ttl['build'][1]= round((cal_month_ttl['sls$'][1])/(cal_month_ttl['sls$'][12]),2)
cal_month_ttl

month_454_ttl = new.groupby(['454_mo'])[['Quantity','sls$']].agg('sum')

<ipython-input-387-c1c5f5e38614>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cal_month_ttl['build'][1]= round((cal_month_ttl['sls$'][1])/(cal_month_ttl['sls$'][12]),2)

In [ ]:
# new.groupby(['Income Group', 'Region'])[['GDP']].agg(np.mean).loc[['High income: OECD', 'High income: nonOECD']]

In [363]:
mask1 = new['ret']
returns = new.loc[mask1, :].copy()
returns['AUR']=returns['sls$']/returns['Quantity']

ttlretdol = returns['sls$'].sum()
ttlretquan = returns['Quantity'].sum()

returns['% to Ret$'] = returns['sls$'] / ttlretdol
returns['% to RetU'] = returns['Quantity'] / ttlretquan


ttl_mo_ret = returns.groupby(['mo'])[['Quantity','sls$','% to Ret$','% to RetU']].agg('sum')

ttl_mo_ret['% to RetU'] = ttl_mo_ret['Quantity'] / ttlretdol
monthly_ttls = (ttlretdol,ttlretquan)
ttl_mo_ret

1.0

    Quantity       sls$  % to Ret$  % to RetU
mo
1     -88750 -131364.30   0.146479   0.098962
2      -8706  -25569.24   0.028511   0.009708
3     -33078  -34372.28   0.038327   0.036884
4     -23078  -44601.50   0.049733   0.025733
5     -19034  -47202.51   0.052634   0.021224
6     -52714  -70616.78   0.078742   0.058779
7     -16423  -37921.08   0.042284   0.018313
8     -18817  -54333.75   0.060585   0.020982
9     -25599  -38902.55   0.043379   0.028544
10    -58213  -84274.63   0.093971   0.064911
11    -31312  -47740.08   0.053233   0.034915
12   -108807 -279913.79   0.312121   0.121326

In [226]:
new.columns

Index([  'InvoiceNo',   'StockCode', 'Description',    'Quantity',
         'UnitPrice',  'CustomerID',     'Country',             0,
              'sls$',          'mo',         'day',        'year',
              'date',          'Wk',      '454_mo'],
      dtype='object')

In [256]:
prod_tbl = new.groupby(['StockCode','Description'])[['sls$','Quantity']].agg('sum')
above10 = prod_tbl.sort_values(by='sls$',ascending=False).head(217)
topsls = above10['sls$'].sum()
topquan = above10['Quantity'].sum()
# print(topsls,topquan)
print(above10)

                                                   sls$  Quantity
StockCode Description
DOT       DOTCOM POSTAGE                      206245.48       707
22423     REGENCY CAKESTAND 3 TIER            164762.19     13033
47566     PARTY BUNTING                        98302.98     18022
85123A    WHITE HANGING HEART T-LIGHT HOLDER   97715.99     35025
85099B    JUMBO BAG RED RETROSPOT              92356.03     47363
...                                                 ...       ...
82600     NO SINGING METAL SIGN                10122.56      4751
22169     FAMILY ALBUM WHITE PICTURE FRAME     10096.71      1166
23170     REGENCY TEA PLATE ROSES              10070.75      6151
23582     VINTAGE DOILY JUMBO BAG RED          10010.77      4694
22633     HAND WARMER UNION JACK               10002.72      4841

[217 rows x 2 columns]

In [250]:
below10 = prod_tbl.sort_values(by='sls$',ascending=False).head(~217)
botsls = below10['sls$'].sum()
botquan = below10['Quantity'].sum()
print(topsls/botsls,topquan/botquan)

0.4722343549120401 0.33655731768860775

In [383]:
mds = new[['StockCode','UnitPrice']]
mds = mds.apply(tuple,axis=1)
md = set(mds)
sorted(md,reverse=True)

[('m', 2.55),
 ('gift_0001_50', 42.55),
 ('gift_0001_50', 41.67),
 ('gift_0001_40', 34.04),
 ('gift_0001_40', 33.33),
 ('gift_0001_30', 25.53),
 ('gift_0001_30', 25.0),
 ('gift_0001_30', 0.0),
 ('gift_0001_20', 17.02),
 ('gift_0001_20', 16.67),
 ('gift_0001_20', 0.0),
 ('gift_0001_10', 8.33),
 ('gift_0001_10', 0.0),
 ('S', 570.0),
 ('S', 280.17),
 ('S', 239.07),
 ('S', 162.0),
 ('S', 128.56),
 ('S', 107.99),
 ('S', 103.58),
 ('S', 98.18),
 ('S', 95.0),
 ('S', 92.0),
 ('S', 87.01),
 ('S', 86.99),
 ('S', 83.06),
 ('S', 76.0),
 ('S', 75.0),
 ('S', 65.85),
 ('S', 55.0),
 ('S', 52.0),
 ('S', 50.99),
 ('S', 47.98),
 ('S', 39.5),
 ('S', 37.49),
 ('S', 34.9),
 ('S', 33.05),
 ('S', 31.98),
 ('S', 30.0),
 ('S', 29.99),
 ('S', 21.9),
 ('S', 20.98),
 ('S', 20.55),
 ('S', 19.5),
 ('S', 16.5),
 ('S', 16.0),
 ('S', 15.5),
 ('S', 14.92),
 ('S', 12.95),
 ('S', 12.94),
 ('S', 11.08),
 ('S', 10.0),
 ('S', 9.99),
 ('S', 9.9),
 ('S', 9.74),
 ('S', 8.74),
 ('S', 7.69),
 ('S', 7.0),
 ('S', 6.7),
 ('S', 6.15),
 ('S', 5.99),
 ('S', 5.79),
 ('S', 5.74),
 ('S', 5.44),
 ('S', 5.0),
 ('S', 4.95),
 ('S', 4.88),
 ('S', 4.59),
 ('S', 3.59),
 ('S', 2.98),
 ('S', 2.89),
 ('S', 2.8),
 ('POST', 8142.75),
 ('POST', 700.0),
 ('POST', 550.94),
 ('POST', 545.58),
 ('POST', 523.0),
 ('POST', 350.0),
 ('POST', 300.0),
 ('POST', 262.73),
 ('POST', 240.0),
 ('POST', 200.0),
 ('POST', 160.0),
 ('POST', 150.0),
 ('POST', 145.0),
 ('POST', 134.0),
 ('POST', 87.4),
 ('POST', 80.0),
 ('POST', 79.68),
 ('POST', 75.0),
 ('POST', 70.21),
 ('POST', 69.72),
 ('POST', 65.0),
 ('POST', 55.89),
 ('POST', 50.0),
 ('POST', 45.0),
 ('POST', 42.05),
 ('POST', 40.0),
 ('POST', 38.45),
 ('POST', 37.5),
 ('POST', 36.5),
 ('POST', 35.65),
 ('POST', 35.09),
 ('POST', 35.0),
 ('POST', 31.6),
 ('POST', 30.53),
 ('POST', 29.7),
 ('POST', 29.43),
 ('POST', 29.28),
 ('POST', 28.0),
 ('POST', 27.42),
 ('POST', 27.0),
 ('POST', 26.0),
 ('POST', 22.56),
 ('POST', 21.78),
 ('POST', 20.47),
 ('POST', 20.0),
 ('POST', 19.29),
 ('POST', 18.75),
 ('POST', 18.66),
 ('POST', 18.0),
 ('POST', 17.0),
 ('POST', 16.85),
 ('POST', 15.53),
 ('POST', 15.0),
 ('POST', 14.95),
 ('POST', 13.39),
 ('POST', 13.31),
 ('POST', 12.99),
 ('POST', 12.34),
 ('POST', 11.85),
 ('POST', 11.27),
 ('POST', 11.0),
 ('POST', 10.34),
 ('POST', 10.0),
 ('POST', 9.72),
 ('POST', 8.65),
 ('POST', 8.62),
 ('POST', 7.62),
 ('POST', 7.6),
 ('POST', 7.06),
 ('POST', 7.0),
 ('POST', 6.5),
 ('POST', 6.42),
 ('POST', 6.32),
 ('POST', 6.0),
 ('POST', 5.95),
 ('POST', 5.75),
 ('POST', 5.5),
 ('POST', 5.29),
 ('POST', 5.15),
 ('POST', 5.0),
 ('POST', 4.95),
 ('POST', 4.9),
 ('POST', 4.5),
 ('POST', 4.48),
 ('POST', 4.41),
 ('POST', 4.05),
 ('POST', 4.0),
 ('POST', 3.96),
 ('POST', 3.95),
 ('POST', 3.82),
 ('POST', 3.71),
 ('POST', 3.59),
 ('POST', 3.5),
 ('POST', 3.38),
 ('POST', 3.3),
 ('POST', 3.25),
 ('POST', 3.15),
 ('POST', 3.01),
 ('POST', 3.0),
 ('POST', 2.9),
 ('POST', 2.84),
 ('POST', 2.7),
 ('POST', 2.46),
 ('POST', 2.45),
 ('POST', 2.17),
 ('POST', 2.02),
 ('POST', 1.72),
 ('POST', 1.69),
 ('POST', 1.36),
 ('POST', 1.34),
 ('POST', 1.1),
 ('POST', 1.0),
 ('POST', 0.55),
 ('POST', 0.0),
 ('PADS', 0.001),
 ('PADS', 0.0),
 ('M', 38970.0),
 ('M', 6930.0),
 ('M', 4287.63),
 ('M', 4161.06),
 ('M', 3949.32),
 ('M', 3155.95),
 ('M', 3060.6),
 ('M', 2653.95),
 ('M', 2583.76),
 ('M', 2500.0),
 ('M', 2382.92),
 ('M', 2118.74),
 ('M', 2053.07),
 ('M', 2033.1),
 ('M', 1917.0),
 ('M', 1867.86),
 ('M', 1829.84),
 ('M', 1715.85),
 ('M', 1687.17),
 ('M', 1592.49),
 ('M', 1486.12),
 ('M', 1435.79),
 ('M', 1298.4),
 ('M', 1283.8),
 ('M', 1252.95),
 ('M', 1241.98),
 ('M', 1216.12),
 ('M', 1149.98),
 ('M', 1136.3),
 ('M', 1130.9),
 ('M', 1126.0),
 ('M', 1121.18),
 ('M', 1039.73),
 ('M', 929.9),
 ('M', 924.59),
 ('M', 907.0),
 ('M', 869.55),
 ('M', 856.48),
 ('M', 852.8),
 ('M', 850.5),
 ('M', 821.9),
 ('M', 793.32),
 ('M', 770.26),
 ('M', 764.12),
 ('M', 717.23),
 ('M', 705.45),
 ('M', 702.38),
 ('M', 682.05),
 ('M', 678.03),
 ('M', 646.46),
 ('M', 631.31),
 ('M', 611.86),
 ('M', 600.0),
 ('M', 599.5),
 ('M', 598.59),
 ('M', 587.08),
 ('M', 557.72),
 ('M', 550.64),
 ('M', 549.34),
 ('M', 544.4),
 ('M', 542.2),
 ('M', 537.83),
 ('M', 530.25),
 ('M', 498.79),
 ('M', 481.45),
 ('M', 465.87),
 ('M', 464.9),
 ('M', 458.29),
 ('M', 452.45),
 ('M', 451.42),
 ('M', 424.06),
 ('M', 416.75),
 ('M', 413.68),
 ('M', 400.0),
 ('M', 389.68),
 ('M', 376.5),
 ('M', 367.38),
 ('M', 345.03),
 ('M', 339.02),
 ('M', 334.71),
 ('M', 326.1),
 ('M', 325.0),
 ('M', 320.69),
 ('M', 316.3),
 ('M', 313.78),
 ('M', 312.5),
 ('M', 308.82),
 ('M', 306.6),
 ('M', 302.04),
 ('M', 294.92),
 ('M', 293.08),
 ('M', 293.0),
 ('M', 283.02),
 ('M', 280.05),
 ('M', 276.08),
 ('M', 275.6),
 ('M', 273.79),
 ('M', 269.7),
 ('M', 265.7),
 ('M', 260.7),
 ('M', 259.79),
 ('M', 250.0),
 ('M', 248.87),
 ('M', 239.3),
 ('M', 238.78),
 ('M', 238.12),
 ('M', 235.54),
 ('M', 233.37),
 ('M', 233.25),
 ('M', 232.57),
 ('M', 224.69),
 ('M', 222.75),
 ('M', 222.59),
 ('M', 219.5),
 ('M', 218.72),
 ('M', 208.34),
 ('M', 208.16),
 ('M', 194.97),
 ('M', 190.8),
 ('M', 189.44),
 ('M', 186.21),
 ('M', 183.75),
 ('M', 183.16),
 ('M', 181.75),
 ('M', 177.04),
 ('M', 165.29),
 ('M', 162.6),
 ('M', 162.2),
 ('M', 158.21),
 ('M', 153.13),
 ('M', 152.78),
 ('M', 133.08),
 ('M', 129.38),
 ('M', 125.0),
 ('M', 120.58),
 ('M', 120.0),
 ('M', 116.69),
 ('M', 112.35),
 ('M', 110.45),
 ('M', 106.4),
 ('M', 102.64),
 ('M', 97.35),
 ('M', 92.93),
 ('M', 91.58),
 ('M', 90.0),
 ('M', 82.5),
 ('M', 80.0),
 ('M', 79.2),
 ('M', 71.46),
 ('M', 64.11),
 ('M', 60.0),
 ('M', 58.29),
 ('M', 57.6),
 ('M', 50.0),
 ('M', 48.0),
 ('M', 45.57),
 ('M', 45.0),
 ('M', 43.63),
 ('M', 40.46),
 ('M', 40.0),
 ('M', 35.0),
 ('M', 32.22),
 ('M', 30.19),
 ('M', 30.0),
 ('M', 25.95),
 ('M', 22.0),
 ('M', 21.95),
 ('M', 20.0),
 ('M', 19.05),
 ('M', 18.95),
 ('M', 18.0),
 ('M', 17.55),
 ('M', 16.05),
 ('M', 15.05),
 ('M', 15.0),
 ('M', 14.95),
 ('M', 12.75),
 ('M', 11.95),
 ('M', 11.7),
 ('M', 10.95),
 ('M', 10.65),
 ('M', 10.0),
 ('M', 9.95),
 ('M', 9.6),
 ('M', 9.36),
 ('M', 8.95),
 ('M', 8.49),
 ('M', 8.0),
 ('M', 7.95),
 ('M', 7.88),
 ('M', 6.95),
 ('M', 6.76),
 ('M', 6.7),
 ('M', 6.59),
 ('M', 5.95),
 ('M', 5.8),
 ('M', 5.7),
 ('M', 5.45),
 ('M', 5.1),
 ('M', 5.0),
 ('M', 4.95),
 ('M', 4.65),
 ('M', 4.5),
 ('M', 4.25),
 ('M', 4.0),
 ('M', 3.95),
 ('M', 3.75),
 ('M', 3.56),
 ('M', 3.52),
 ('M', 3.25),
 ('M', 3.0),
 ('M', 2.95),
 ('M', 2.88),
 ('M', 2.55),
 ('M', 2.5),
 ('M', 2.1),
 ('M', 2.0),
 ('M', 1.95),
 ('M', 1.65),
 ('M', 1.5),
 ('M', 1.45),
 ('M', 1.25),
 ('M', 1.01),
 ('M', 1.0),
 ('M', 0.91),
 ('M', 0.87),
 ('M', 0.85),
 ('M', 0.83),
 ('M', 0.8),
 ('M', 0.79),
 ('M', 0.77),
 ('M', 0.75),
 ('M', 0.67),
 ('M', 0.65),
 ('M', 0.56),
 ('M', 0.5),
 ('M', 0.48),
 ('M', 0.45),
 ('M', 0.42),
 ('M', 0.41),
 ('M', 0.39),
 ('M', 0.38),
 ('M', 0.36),
 ('M', 0.32),
 ('M', 0.3),
 ('M', 0.29),
 ('M', 0.25),
 ('M', 0.24),
 ('M', 0.22),
 ('M', 0.21),
 ('M', 0.2),
 ('M', 0.19),
 ('M', 0.16),
 ('M', 0.12),
 ('M', 0.11),
 ('M', 0.1),
 ('M', 0.08),
 ('M', 0.06),
 ('M', 0.03),
 ('M', 0.0),
 ('DOT', 4505.17),
 ('DOT', 2275.54),
 ('DOT', 2196.67),
 ('DOT', 2114.0),
 ('DOT', 2028.25),
 ('DOT', 2019.05),
 ('DOT', 1861.46),
 ('DOT', 1714.17),
 ('DOT', 1683.75),
 ('DOT', 1599.26),
 ('DOT', 1569.04),
 ('DOT', 1563.0),
 ('DOT', 1556.08),
 ('DOT', 1526.76),
 ('DOT', 1500.36),
 ('DOT', 1483.21),
 ('DOT', 1325.0),
 ('DOT', 1270.06),
 ('DOT', 1236.75),
 ('DOT', 1211.17),
 ('DOT', 1172.1),
 ('DOT', 1154.67),
 ('DOT', 1126.29),
 ('DOT', 1119.63),
 ('DOT', 1092.21),
 ('DOT', 1042.84),
 ('DOT', 1016.58),
 ('DOT', 1008.96),
 ('DOT', 988.0),
 ('DOT', 950.99),
 ('DOT', 940.87),
 ('DOT', 938.59),
 ('DOT', 933.17),
 ('DOT', 930.04),
 ('DOT', 908.16),
 ('DOT', 907.47),
 ('DOT', 901.58),
 ('DOT', 892.5),
 ('DOT', 888.42),
 ('DOT', 888.06),
 ('DOT', 887.52),
 ('DOT', 885.94),
 ('DOT', 878.55),
 ('DOT', 877.04),
 ('DOT', 868.21),
 ('DOT', 863.8),
 ('DOT', 863.74),
 ('DOT', 858.46),
 ('DOT', 852.25),
 ('DOT', 847.42),
 ('DOT', 845.23),
 ('DOT', 837.46),
 ('DOT', 836.14),
 ('DOT', 822.94),
 ('DOT', 803.55),
 ('DOT', 800.63),
 ('DOT', 793.33),
 ('DOT', 757.63),
 ('DOT', 743.96),
 ('DOT', 743.62),
 ('DOT', 736.38),
 ('DOT', 732.69),
 ('DOT', 729.42),
 ('DOT', 710.95),
 ('DOT', 701.95),
 ('DOT', 698.5),
 ('DOT', 695.08),
 ('DOT', 690.21),
 ('DOT', 688.08),
 ('DOT', 662.14),
 ('DOT', 657.29),
 ('DOT', 644.28),
 ('DOT', 641.86),
 ('DOT', 639.83),
 ('DOT', 638.3),
 ('DOT', 635.01),
 ('DOT', 634.54),
 ('DOT', 634.39),
 ('DOT', 627.47),
 ('DOT', 620.68),
 ('DOT', 620.22),
 ('DOT', 607.96),
 ('DOT', 607.49),
 ('DOT', 603.62),
 ('DOT', 596.9),
 ('DOT', 594.0),
 ('DOT', 593.15),
 ('DOT', 584.94),
 ('DOT', 584.59),
 ('DOT', 579.21),
 ('DOT', 576.18),
 ('DOT', 571.9),
 ('DOT', 569.77),
 ('DOT', 565.37),
 ('DOT', 557.0),
 ('DOT', 549.79),
 ('DOT', 547.32),
 ('DOT', 545.25),
 ('DOT', 533.59),
 ('DOT', 531.65),
 ('DOT', 523.77),
 ('DOT', 518.98),
 ('DOT', 514.0),
 ('DOT', 511.25),
 ('DOT', 510.79),
 ('DOT', 498.47),
 ('DOT', 492.46),
 ('DOT', 491.93),
 ('DOT', 490.25),
 ('DOT', 484.17),
 ('DOT', 478.1),
 ('DOT', 470.12),
 ('DOT', 469.7),
 ('DOT', 469.2),
 ('DOT', 455.75),
 ('DOT', 454.35),
 ('DOT', 449.52),
 ('DOT', 448.0),
 ('DOT', 428.78),
 ('DOT', 416.48),
 ('DOT', 404.49),
 ('DOT', 403.81),
 ('DOT', 401.8),
 ('DOT', 396.81),
 ('DOT', 394.83),
 ('DOT', 391.32),
 ('DOT', 378.02),
 ('DOT', 377.33),
 ('DOT', 375.71),
 ('DOT', 375.64),
 ('DOT', 371.65),
 ('DOT', 369.95),
 ('DOT', 368.62),
 ('DOT', 356.7),
 ('DOT', 350.78),
 ('DOT', 340.72),
 ('DOT', 337.23),
 ('DOT', 336.52),
 ('DOT', 334.16),
 ('DOT', 324.43),
 ('DOT', 323.98),
 ('DOT', 323.05),
 ('DOT', 319.82),
 ('DOT', 311.66),
 ('DOT', 309.75),
 ('DOT', 307.85),
 ('DOT', 307.17),
 ('DOT', 306.35),
 ('DOT', 304.24),
 ('DOT', 303.0),
 ('DOT', 301.84),
 ('DOT', 299.76),
 ('DOT', 299.72),
 ('DOT', 298.31),
 ('DOT', 297.66),
 ('DOT', 296.61),
 ('DOT', 295.2),
 ('DOT', 290.59),
 ('DOT', 286.88),
 ('DOT', 285.3),
 ('DOT', 283.0),
 ('DOT', 282.88),
 ('DOT', 279.84),
 ('DOT', 278.97),
 ('DOT', 278.92),
 ('DOT', 277.0),
 ('DOT', 276.48),
 ('DOT', 275.98),
 ('DOT', 275.34),
 ('DOT', 275.11),
 ('DOT', 274.75),
 ('DOT', 274.25),
 ('DOT', 273.01),
 ('DOT', 271.18),
 ('DOT', 268.05),
 ('DOT', 265.19),
 ('DOT', 264.65),
 ('DOT', 264.0),
 ('DOT', 262.73),
 ('DOT', 259.75),
 ('DOT', 255.83),
 ('DOT', 255.81),
 ('DOT', 255.04),
 ('DOT', 254.43),
 ('DOT', 254.42),
 ('DOT', 254.08),
 ('DOT', 253.24),
 ('DOT', 252.57),
 ('DOT', 252.37),
 ('DOT', 252.16),
 ('DOT', 252.11),
 ('DOT', 250.83),
 ('DOT', 250.68),
 ('DOT', 249.91),
 ('DOT', 249.71),
 ('DOT', 249.02),
 ('DOT', 248.51),
 ('DOT', 248.48),
 ('DOT', 248.13),
 ('DOT', 247.54),
 ('DOT', 246.54),
 ('DOT', 246.5),
 ('DOT', 246.37),
 ('DOT', 244.51),
 ('DOT', 244.46),
 ('DOT', 243.87),
 ('DOT', 243.21),
 ('DOT', 240.67),
 ('DOT', 240.41),
 ('DOT', 239.91),
 ('DOT', 239.67),
 ('DOT', 237.89),
 ('DOT', 237.33),
 ('DOT', 236.91),
 ('DOT', 236.88),
 ('DOT', 236.46),
 ('DOT', 235.98),
 ('DOT', 235.48),
 ('DOT', 235.02),
 ('DOT', 234.94),
 ('DOT', 234.92),
 ('DOT', 234.63),
 ('DOT', 233.04),
 ('DOT', 231.79),
 ('DOT', 231.61),
 ('DOT', 230.61),
 ('DOT', 230.59),
 ('DOT', 230.08),
 ('DOT', 229.79),
 ('DOT', 229.74),
 ('DOT', 228.33),
 ('DOT', 227.99),
 ('DOT', 227.3),
 ('DOT', 226.92),
 ('DOT', 226.61),
 ('DOT', 226.37),
 ('DOT', 226.19),
 ('DOT', 225.68),
 ('DOT', 225.17),
 ('DOT', 224.42),
 ('DOT', 224.26),
 ('DOT', 223.89),
 ('DOT', 223.35),
 ('DOT', 222.49),
 ('DOT', 222.18),
 ('DOT', 222.02),
 ('DOT', 221.16),
 ('DOT', 220.71),
 ('DOT', 220.5),
 ('DOT', 219.24),
 ('DOT', 218.93),
 ('DOT', 218.75),
 ('DOT', 218.64),
 ('DOT', 218.26),
 ('DOT', 218.08),
 ('DOT', 216.8),
 ('DOT', 216.11),
 ('DOT', 215.13),
 ('DOT', 214.42),
 ('DOT', 214.32),
 ('DOT', 214.29),
 ('DOT', 214.11),
 ('DOT', 213.79),
 ('DOT', 213.71),
 ('DOT', 213.33),
 ('DOT', 213.15),
 ('DOT', 213.13),
 ('DOT', 213.08),
 ('DOT', 212.96),
 ('DOT', 212.33),
 ('DOT', 212.04),
 ('DOT', 211.86),
 ('DOT', 211.8),
 ('DOT', 210.42),
 ('DOT', 208.92),
 ('DOT', 208.89),
 ('DOT', 208.12),
 ('DOT', 207.79),
 ('DOT', 206.66),
 ('DOT', 206.38),
 ('DOT', 206.15),
 ('DOT', 205.5),
 ('DOT', 205.45),
 ('DOT', 205.29),
 ('DOT', 204.85),
 ('DOT', 204.63),
 ('DOT', 203.73),
 ('DOT', 203.63),
 ('DOT', 202.96),
 ('DOT', 202.77),
 ('DOT', 202.42),
 ('DOT', 202.29),
 ('DOT', 201.84),
 ('DOT', 201.82),
 ('DOT', 201.64),
 ('DOT', 201.5),
 ('DOT', 201.37),
 ('DOT', 200.58),
 ('DOT', 200.38),
 ('DOT', 200.33),
 ('DOT', 199.89),
 ('DOT', 199.81),
 ('DOT', 199.33),
 ('DOT', 199.04),
 ('DOT', 198.77),
 ('DOT', 198.75),
 ('DOT', 198.6),
 ('DOT', 198.21),
 ('DOT', 198.17),
 ('DOT', 198.09),
 ('DOT', 197.83),
 ('DOT', 197.74),
 ('DOT', 197.33),
 ('DOT', 197.3),
 ('DOT', 196.79),
 ('DOT', 195.62),
 ('DOT', 195.37),
 ('DOT', 195.06),
 ('DOT', 194.7),
 ('DOT', 194.12),
 ('DOT', 192.86),
 ('DOT', 192.71),
 ('DOT', 192.67),
 ('DOT', 192.54),
 ('DOT', 192.44),
 ('DOT', 192.43),
 ('DOT', 192.29),
 ('DOT', 192.21),
 ('DOT', 191.96),
 ('DOT', 191.78),
 ('DOT', 191.67),
 ('DOT', 191.46),
 ('DOT', 191.06),
 ('DOT', 189.91),
 ('DOT', 189.84),
 ('DOT', 189.79),
 ('DOT', 189.68),
 ('DOT', 189.59),
 ('DOT', 189.57),
 ('DOT', 188.89),
 ('DOT', 188.88),
 ('DOT', 188.54),
 ('DOT', 188.46),
 ('DOT', 188.15),
 ('DOT', 187.89),
 ('DOT', 187.21),
 ('DOT', 187.1),
 ('DOT', 186.87),
 ('DOT', 185.88),
 ('DOT', 185.83),
 ('DOT', 185.66),
 ('DOT', 185.28),
 ('DOT', 184.96),
 ('DOT', 184.92),
 ('DOT', 184.6),
 ('DOT', 183.55),
 ('DOT', 183.2),
 ('DOT', 183.09),
 ('DOT', 182.67),
 ('DOT', 182.38),
 ('DOT', 182.37),
 ('DOT', 182.25),
 ('DOT', 181.88),
 ('DOT', 181.83),
 ('DOT', 181.45),
 ('DOT', 181.34),
 ('DOT', 180.92),
 ('DOT', 180.5),
 ('DOT', 180.17),
 ('DOT', 179.94),
 ('DOT', 179.67),
 ('DOT', 179.29),
 ('DOT', 178.84),
 ('DOT', 178.71),
 ('DOT', 178.29),
 ('DOT', 178.12),
 ('DOT', 177.96),
 ('DOT', 177.63),
 ('DOT', 176.8),
 ('DOT', 176.72),
 ('DOT', 176.71),
 ('DOT', 176.52),
 ('DOT', 176.48),
 ('DOT', 176.41),
 ('DOT', 175.88),
 ('DOT', 175.69),
 ('DOT', 175.6),
 ('DOT', 175.28),
 ('DOT', 175.13),
 ('DOT', 174.78),
 ('DOT', 174.24),
 ('DOT', 174.12),
 ('DOT', 173.59),
 ('DOT', 173.42),
 ('DOT', 173.3),
 ('DOT', 172.99),
 ('DOT', 172.63),
 ('DOT', 172.62),
 ('DOT', 172.54),
 ('DOT', 172.42),
 ('DOT', 171.46),
 ('DOT', 171.42),
 ('DOT', 171.07),
 ('DOT', 171.04),
 ('DOT', 170.98),
 ('DOT', 170.92),
 ('DOT', 170.54),
 ('DOT', 169.55),
 ('DOT', 169.29),
 ('DOT', 168.63),
 ('DOT', 168.53),
 ('DOT', 168.19),
 ('DOT', 167.88),
 ('DOT', 167.58),
 ('DOT', 167.03),
 ('DOT', 167.02),
 ('DOT', 166.96),
 ('DOT', 166.92),
 ('DOT', 166.88),
 ('DOT', 166.08),
 ('DOT', 165.2),
 ('DOT', 164.55),
 ('DOT', 164.54),
 ('DOT', 164.46),
 ('DOT', 164.33),
 ('DOT', 164.29),
 ('DOT', 163.83),
 ('DOT', 163.67),
 ('DOT', 162.95),
 ('DOT', 162.75),
 ('DOT', 162.67),
 ('DOT', 161.96),
 ('DOT', 161.88),
 ('DOT', 161.16),
 ('DOT', 161.08),
 ('DOT', 161.04),
 ('DOT', 160.9),
 ('DOT', 160.37),
 ('DOT', 159.78),
 ('DOT', 159.63),
 ('DOT', 159.46),
 ('DOT', 158.71),
 ('DOT', 158.63),
 ('DOT', 157.81),
 ('DOT', 157.76),
 ('DOT', 157.08),
 ('DOT', 156.92),
 ('DOT', 156.45),
 ('DOT', 156.21),
 ('DOT', 155.46),
 ('DOT', 155.33),
 ('DOT', 155.31),
 ('DOT', 155.25),
 ('DOT', 154.5),
 ('DOT', 154.01),
 ('DOT', 153.92),
 ('DOT', 153.71),
 ('DOT', 152.92),
 ('DOT', 152.68),
 ('DOT', 152.19),
 ('DOT', 151.61),
 ('DOT', 151.33),
 ('DOT', 150.77),
 ('DOT', 150.71),
 ('DOT', 150.59),
 ('DOT', 150.35),
 ('DOT', 150.25),
 ('DOT', 150.17),
 ('DOT', 149.67),
 ('DOT', 149.49),
 ('DOT', 149.02),
 ('DOT', 148.75),
 ('DOT', 148.67),
 ('DOT', 148.55),
 ('DOT', 147.53),
 ('DOT', 147.49),
 ('DOT', 147.13),
 ('DOT', 147.03),
 ('DOT', 146.85),
 ('DOT', 146.5),
 ('DOT', 146.29),
 ('DOT', 146.1),
 ('DOT', 145.46),
 ('DOT', 144.75),
 ('DOT', 144.45),
 ('DOT', 144.15),
 ('DOT', 143.18),
 ('DOT', 143.04),
 ('DOT', 142.94),
 ('DOT', 142.83),
 ('DOT', 142.29),
 ('DOT', 141.5),
 ('DOT', 141.42),
 ('DOT', 141.19),
 ('DOT', 141.03),
 ('DOT', 140.19),
 ('DOT', 138.5),
 ('DOT', 138.46),
 ('DOT', 138.08),
 ('DOT', 138.0),
 ('DOT', 137.96),
 ('DOT', 137.33),
 ('DOT', 137.08),
 ('DOT', 136.38),
 ('DOT', 135.75),
 ('DOT', 135.67),
 ('DOT', 135.13),
 ('DOT', 135.08),
 ('DOT', 134.66),
 ('DOT', 134.04),
 ('DOT', 133.64),
 ('DOT', 133.3),
 ('DOT', 133.17),
 ('DOT', 133.13),
 ('DOT', 133.06),
 ('DOT', 132.33),
 ('DOT', 132.29),
 ('DOT', 132.25),
 ('DOT', 131.69),
 ('DOT', 131.58),
 ('DOT', 131.46),
 ('DOT', 131.42),
 ('DOT', 131.22),
 ('DOT', 130.71),
 ('DOT', 130.63),
 ('DOT', 130.58),
 ('DOT', 129.08),
 ('DOT', 128.6),
 ('DOT', 128.25),
 ('DOT', 127.89),
 ('DOT', 127.54),
 ('DOT', 127.24),
 ('DOT', 127.09),
 ('DOT', 126.54),
 ('DOT', 125.96),
 ('DOT', 125.88),
 ('DOT', 124.87),
 ('DOT', 124.83),
 ('DOT', 124.79),
 ('DOT', 124.27),
 ('DOT', 124.16),
 ('DOT', 124.08),
 ('DOT', 122.99),
 ('DOT', 122.65),
 ('DOT', 122.58),
 ('DOT', 122.5),
 ('DOT', 121.06),
 ('DOT', 120.92),
 ('DOT', 120.88),
 ('DOT', 120.17),
 ('DOT', 119.77),
 ('DOT', 119.51),
 ...]

In [389]:
by_prod = new.groupby(['StockCode','Description','mo'])[['Quantity','sls$']].agg(['sum']).copy()

                                                   Quantity    sls$
                                                        sum     sum
StockCode    Description                        mo
10002        INFLATABLE POLITICAL GLOBE         1       340  291.37
                                                2        52   45.76
                                                3        28   27.70
                                                4       189  160.65
                                                12      251  234.41
...                                                     ...     ...
gift_0001_40 Dotcomgiftshop Gift Voucher 40.00 12        1   34.04
gift_0001_50 Dotcomgiftshop Gift Voucher 50.00 5         1   41.67
                                                6         2   83.34
                                                12        1   42.55
m            Manual                             12        1    2.55

[33465 rows x 2 columns]

In [416]:
top = new.groupby(['StockCode','Description'])[['Quantity','sls$']].agg(['sum']).copy()
top.columns
top_prod = top.sort_values(('sls$', 'sum'),ascending=False).head(25).copy()
top25=[]
for [s,d] in top_prod.index:
    top25.append(d)
top25

['DOTCOM POSTAGE',
 'REGENCY CAKESTAND 3 TIER',
 'PARTY BUNTING',
 'WHITE HANGING HEART T-LIGHT HOLDER',
 'JUMBO BAG RED RETROSPOT',
 'RABBIT NIGHT LIGHT',
 'POSTAGE',
 "PAPER CHAIN KIT 50'S CHRISTMAS ",
 'ASSORTED COLOUR BIRD ORNAMENT',
 'CHILLI LIGHTS',
 'SPOTTY BUNTING',
 'JUMBO BAG PINK POLKADOT',
 'BLACK RECORD COVER FRAME',
 'PICNIC BASKET WICKER 60 PIECES',
 'SET OF 3 CAKE TINS PANTRY DESIGN ',
 'DOORMAT KEEP CALM AND COME IN',
 'JAM MAKING SET WITH JARS',
 'WOOD BLACK BOARD ANT WHITE FINISH',
 'LUNCH BAG RED RETROSPOT',
 'POPCORN HOLDER',
 'HOT WATER BOTTLE TEA AND SYMPATHY',
 'VICTORIAN GLASS HANGING T-LIGHT',
 'CHOCOLATE HOT WATER BOTTLE',
 'JUMBO BAG STRAWBERRY',
 'PAPER CHAIN KIT VINTAGE CHRISTMAS']